<!DOCTYPE html>

<npdc:edit-button ng-if="document && !formula" class="np-primary-control"></npdc:edit-button>

<npdc:formula ng-if="document && formula"></npdc:formula>

<article ng-if="document && !formula" ng-controller="TimeseriesShowController as ctrl">
  <md-card>
    <md-card-content>
      <h1 class="md-display-2">{{ document.title | i18n }}</h1>

      <h2 class="md-headline"><md-tooltip md-direction="left">{{ 'Dataset author' | t }}</md-tooltip><span ng-if="document.authors.length > 0" ng-repeat="a in document.authors" class="author"><a ng-href="{{ resource.uiPath() }}?filter-authors.@id={{a['@id']}}">{{ a['@id'] | t }}</a><span ng-if="!$last">, </span></h2>

      <h3 class="md-headline"><span ng-repeat="s in document.systems">{{ s | t }}</span></h3>

      <div ng-if="data && data.length > 1">
        <span id="sparkline-0" style="width: 240px; height: 60px;"></span>
      </div>

      <section><span>{{ data.length }} data points<span ng-if="data.length != data_not_null.length">; {{ data.length-data_not_null.length }} with no value</span> ({{data[0].when}} - {{data[data.length-1].when}})</span>
        <span>{{ document.unit.symbol || 'N' }}</span>
        [<span ng-repeat="v in document.variables">{{ v.variable }} </span>]
        resolution: {{document.resolution}}
      </section>



    </md-card-content>
  </md-card>



  <md-card ng-if="document.authors.length">
    <md-card-header>
      <md-card-avatar>
        <md-icon>format_quote</md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-headline">{{ 'Collection'|t }}</span>
        <span class="md-subhead">{{ 'Datasets belonging to the same collection'|t }}</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <ol ng-if="collection" ><li ng-repeat="l in ['en', 'nb']">
        <a ng-href="{{collection[l].href}}"> {{ collection[l].title }}</a> ({{ collection[l].count }})
        </li>
      </ol>
      <span ng-if="!collection">No collection</span>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-avatar>
        <md-icon>label_outline</md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-headline">{{ 'Related' |t }}</span>
        <span class="md-subhead">Timeseries with the same classification</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>

      <ol>
        <li ng-repeat="l in ['en', 'no']">
          <span>
            <a ng-href="{{ keywords[l].href }}">{{ keywords[l].keywords.join(', ')  }}</a>
            ({{ keywords[l].count }})
          </span>
        </li>
        <li ng-if="document.species" ng-repeat="l in ['en', 'no']">
          <span>
            <a ng-href="{{ keywords[l].href }}&filter-species={{document.species}}">{{ keywords[l].keywords.join(', ') }} + {{ document.species | t }}</a>
             ({{ keywords[l].count_keywords_and_species }})
          </span>
        </li>
        <li ng-if="document.locations" ng-repeat="l in ['en', 'no']">
          <span>
            <a ng-href="{{ keywords[l].href }}&filter-locations.placename={{document.locations[0].placename}}">{{ keywords[l].keywords.join(', ') }} + {{ document.locations[0].placename }} </a>
             ({{ keywords[l].count_keywords_and_placename }})
          </span>
        </li>
      </ol>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-avatar>
        <md-icon>label_outline</md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-headline">{{ 'X' |t }}</span>
        <span class="md-subhead"></span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <br>Unit: {{ document.unit | json }}
      <br>Locations: {{ document.locations | json }}
      <br>Species: {{ document.species | json }}
      <br>Labels: {{ document.labels | json }}
      <br>Variables: {{ document.variables | json }}
      <br>Label: {{ document.label | json }}
    </md-card-content>
  </md-card>


  <!--
    <h3>Labels</h3>
    <ul class="np-padding">
      <li ng-repeat="l in document.labels">
        {{l | json }})
    </ul>-->

    <!--Species
    {{ document.species }}
-->

<!-- <section ng-if="!sparkline">
  <h3 class="md-headline">Data</h3>
  <table>
    <tr ng-repeat="data in document.data"><td align="right"><code>{{data.when}}</td>&#9;</code><td align="right"><code>{{data.value}}</code></td></tr>
  </table>
  </section>-->

  <npdc-links links="document.links"></npdc-links>

  <npdc:metadata document="document" resource="resource"></npdc:metadata>

  <md-card ng-if="document.authors.length">
    <md-card-header>
      <md-card-avatar>
        <md-icon>format_quote</md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-headline">{{ 'Citation'|t }}</span>
        <span class="md-subhead">{{ 'APA'|t }}<md-tooltip md-direction="left">APA-style citation</md-tooltip>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <code class="np-citation">{{ citation(document) }}</code>
    </md-card-content>
  </md-card>
</article>