<!DOCTYPE html>
<npdc:create-button class="np-primary-control"></npdc:create-button>
<div class="np-padding">
 <npdc:search-input feed="feed"></npdc:search-input>
  <npdc:search feed="feed"></npdc:search>
</div>

<!--
Sparklines:

<div class="npdc-search">
  <md-content>
    <npdc:loader ng-if="!feed.entries"></npdc:loader>
    <md-tabs md-dynamic-height ng-if="feed.entries">
  		<md-tab label="Timeseries">
        <section>

          <div class="np-layout-list">
            <md-list>
              <md-list-item class="md-2-line" style="padding: 10px;" ng-repeat="t in feed.entries | filter:query" ng-href="timeseries/{{t.id}}">
                <div class="md-list-item-text">
                  <h3 class="md-headline">
                    <span>{{ t.titles | title }}</span>
                  </h3>
                  <p flex><em>「<span class="md-avatar">{{ avatar(t) }}</span>」</em>
                    {{ subtitle(t) }}
                  </p>
                  <div id="sparkline-{{$index}}" style="width: 240px; height: 60px;"></div>
                </div>
                <md-divider></md-divider>

              </md-list-item>
            </md-list>
          </div>



          <div layout-padding>
            <div ng-if="feed.opensearch.totalResults > 0" layout layout-align="space-between center">
              <div style="line-height: 48px;">{{feed.opensearch.totalResults}}
                results, displaying
                {{ feed.entries.length}}</div>
              <div>
                <md-button class="md-raised md-primary" ng-if="showNext()" ng-click="next()">More ...</md-button>
              </div>
            </div>
            <div ng-if="feed.opensearch.totalResults == 0">No results when searching for "{{q()}}"</div>
          </div>
        </section>
      </md-tab>


      <md-tab label="Without data">
          <section class="alert alert-danger np-padding" role="alert">
            <h4>Timeseries without any data points</h4>

            <ol class="np-layout-list">
              <li ng-repeat="t in noData track by t.id | filter:query" class="md-2-line">
                <a ng-href="timeseries/{{t.id}}">
                   {{ t.titles | title }}
                </a>
              </li>
            </ol>
          </section>
      </md-tab>
    </md-tabs>

-->
</div>