<!DOCTYPE html>
<article>
  <div class="np-padding" ng-if="document">
    <h1>Timeseries:
      <a>{{ document.titles | title }}</a> ({{ document.systems.join(',') }})
    </h1>
    <h3>Parameter:
      <a ng-href="parameter/{{parameter.id}}">{{ parameter.titles | title }}</a>
    </h3>
  </div>

  <npdc:formula></npdc:formula>

  <!--
  <div ng-repeat="e in edits">
  -->

  <!-- <span ng-repeat="sibling in siblings">
  -->

  <!--<md-input-container>
	<label>Raw JSON data</label>
	  <textarea npolar-json-text type="text" class="form-control" ng-model="document.data" ></textarea>
  </md-input-container>-->

</article>
