<!DOCTYPE html>
<npdc:loader ng-if="!document"></npdc:loader>

<article ng-if="document" layout-padding>
  <npdc:edit-button class="np-primary-control"></npdc:edit-button>

  <h1>
    Indicator: <a href="#">{{ document.titles | json }}</a> ({{ document.systems.join(', ') }})
  </h1>
  <npdc:edit-button class="np-primary-control"></npdc:edit-button>
  
  <section ng-if="document.parameters.length > 0">    
  <h3>Parameters ({{parameters.length}})</h3>
  <ul ng-repeat="p in parameters">
    <li><a ng-href="parameter/{{p.id}}/show">{{ p.titles | title }}</a> [{{p.timeseries.length || 0}} timeseries]
  </ul>
  </section>
</article>