<!DOCTYPE html>
<npdc:loader ng-if="!document"></npdc:loader>

<article ng-if="document" ng-init="p = document">
  <npdc:edit-button class="np-primary-control"></npdc:edit-button>

  <md-card>
  <h1 class="md-display-2">
    {{ p.titles | title }}
  </h1>
  <h2 class="md-headline"><npdc:authors authors="authors" icon="account_balance"></npdc:authors></h2>

  Parameter in <a ng-href="parameter/?filter-systems={{document.systems[0]}}">{{ document.systems.join(',') }}</a>


</md-card>
    <md-card>
    <md-card-content>
      <p>
        <a ng-if="document.doi" ng-href="//doi.org/{{document.doi}}" ><img src="/assets/img/doi.png" height="20px" alt="DOI"><md-tooltip>Digital Object Identifier</md-tooltip>{{ document.doi}}</a>
        <span ng-if="!document.doi">URI: <a ng-href="{{ uri }}">{{ uri }}</a><md-tooltip md-direction="left">URI (persistent web address)</md-tooltip></span>
      </p>
      <npdc:citation citations="[{ text: authors[0].names['@value']}]"></npdc:citation>

    </md-card-content>
  </md-card>
<md-card>
  <div ng-if="p.species">Species: {{ document.species }}</div>

  <pre ng-if="missing_timeseries">
    {{ missing_timeseries | json }}
  </pre>

  <h3>Children ({{ timeseries.length }} timeseries)</h3>

  <ul class="np-padding">
    <li ng-repeat="t in timeseries">
      <a ng-href="timeseries/{{t.id}}">{{ t.titles | title }}</a>
    </li>
    <div id="sparkline-{{$index}}"></div>
  </ul>

  <h3>Links</h3>
  <ul class="np-padding">
    <li ng-repeat="l in document.links">
      <a ng-href="{{l.href}}">{{ l.rel }}</a> ({{l.type}})
    </li>
  </ul>

<!--  <div id="chart_div" style="position: relative; overflow: hidden; height: 600px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
-->
</md-card>


  <npdc:metadata document="p" metdata="metadata"></npdc:metadata>

</article>
