<!DOCTYPE html>
<npdc:loader ng-if="!document"></npdc:loader>

<article ng-if="document" layout-padding>
  <npdc:edit-button class="np-primary-control"></npdc:edit-button>

  <h1>Parameter:
    <a>{{ document.titles | title }}
    </a> ({{ document.systems.join(',') }})
  </h1>
  
  <h3>Indicator:
    <a ng-href="{{indicator.id}}/show">{{ indicator.titles | title }}</a>
  </h3>
  
  <h3>Timeseries ({{ timeseries.length }})</h3>
  <ul ng-repeat="t in timeseries">
    <li>
      <a ng-href="timeseries/{{t.id}}?title={{t.titles|title}}">{{ t.titles | title }}</a>
    </li>
    <div id="sparkline-{{$index}}"></div>
  </ul>

<!--  <div id="chart_div" style="position: relative; overflow: hidden; height: 600px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
-->  
</article>
